<!DOCTYPE html>
<html>
  <head>
      <!--113 -->
    <title><%= full_title(yield(:title)) %></title>
      <!-- 113 ... -->
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
      <!-- ... 113 -->
      <!-- 174 -->
    <%= render 'layouts/shim' %>
  </head>

    <!-- 162 ... -->
  <body>
    <!-- 174 -->
  <%= render 'layouts/header' %>
    <div class="container">
      <!-- p_277: добавление кратковременных сообщений в шаблон сайта -->
      <% flash.each do |message_type, message| %>
        <!-- p_287: применю content_tag для большей удобности (наглядности) -->
        <%= content_tag(:div, message, class: "alert alert-#{message_type}") %>
        <!--<div class="alert alert-<%= message_type %>"><%= message %></div>-->
      <% end %>

      <%= yield %>
        <!-- 176 -->
      <%= render 'layouts/footer' %>
        <!-- 241: отладочная инфа только в среде разраотки -->
      <%= debug(params) if Rails.env.development? %>
    </div>
  </body>
    <!-- ... 163 -->
</html>
